<section class="section-sign-in-component grid nested-grid h-full">
  <div class="col-12">
    <div class="flex justify-content-end p-4">
      <app-input-theme-selector />
    </div>
  </div>
  <div class="col-12 flex align-items-center justify-content-center p-4">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }" class="border-round-2xl shadow-5">
      <ng-template pTemplate="title"> <h3 class="text-center">Iniciar Sesion</h3></ng-template>
      <app-sign-in-form />
    </p-card>
  </div>
</section>
